.register {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .register-content {
    background-color: var(--primary-color);
    border-radius: 30px;
    width: 600px;
    height: 600px;

    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: left;
    padding-inline: 30px;

    animation: pulse-login 1s ease-in-out forwards infinite;

    h2 {
      display: flex;
      justify-content: center;
      padding-top: 30px;
      font-size: 34px;
    }
  }

  .text-register {
    span {
      display: block;
      font-size: 28px;
      font-family: var(--font-text);
      padding-top: 14px;
    }

    input {
      width: 100%;
      font-size: 28px;
      background-color: transparent;
      border: none;
      outline: none;
      border-bottom: 1px solid var(--secondary-color);
      padding-block: 14px;

      &::placeholder {
        color: var(--color-text);
      }
    }
  }

  button {
    font-size: 28px;
    color: var(--color-text);
    background-color: var(--secondary-color);
    border: none;
    border-radius: 10px;
    margin-block: 30px;
    cursor: pointer;
    padding: 16px;
  }

  a {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
    font-size: 24px;
    text-decoration: underline;
  }
}

@keyframes pulse-login {
  0% {
    box-shadow: 0px 0px 28px 2px var(--primary-color);
  }

  50% {
    box-shadow: 0px 0px 38px 8px var(--primary-color);
  }

  100% {
    box-shadow: 0px 0px 28px 2px var(--primary-color);
  }
}
